{% extends 'enroll/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-4">
        <h4 class="alert alert-success text-center">Add New Student</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.name }}
                <label class="mt-2">Email</label>
                {{ form.email }}
                <label class="mt-2">Password</label>
                {{ form.password }}
            <button class="btn btn-primary mt-2">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
    